body {
    margin: 0;
    background: #007A78;
    height: 100vh;
    font-family: 'Noto Sans SC', sans-serif;
}

h1, 
h4 {
    color: #FFC745;
}

h1 {
    font-size: 4rem;
    text-decoration: underline overline;
}

h4{
    font-size: 1.5rem;
    font-weight: bolder;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 2px white solid;
    background:#FFC745;
    cursor: pointer;
}



